<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CUNGGG</title>
</head>
<body>
    <h1>MBUD MBUD CUNG MBUD</h1>
    <form action="https://belajar-uas-soa.herokuapp.com/api/users" method="post">
        email
        <input type="text" name="email" id=""> <br>
        nama_user
        <input type="text" name="nama_user" id=""> <br>
        tanggal_lahir
        <input type="text" name="tanggal_lahir" id=""> <br>
        <input type="submit" value="Daftar">
    </form>
</body>
</html>